Project: Global E-Commerce Sales Analytics Dashboard (Advanced)

In [6]:
import numpy as np
import pandas as pd

In [7]:
customer_table = pd.read_csv("customers.csv")
oreder_table = pd.read_csv("orders.csv")
product_table = pd.read_csv("products.csv")

merge_table = pd.merge(customer_table,oreder_table, on="CustomerID", how ="right" )

m_3 = pd.merge(merge_table,product_table , on="ProductID",how="right")
# print(m_3)

m_3[["OrderDate","ShipDate"]] = (m_3[["OrderDate","ShipDate"]]).apply(pd.to_datetime)

# null = m_3.info()
# print(null)

fill_nill = m_3.fillna(1111)
print(fill_nill)
drop = m_3.dropna()
print(drop)

    CustomerID        CustomerName      Segment Country               City  \
0    CUST-0095          Stacey Lee  Home Office     USA        Sanchezstad
1    CUST-0083      Chad Rodriguez     Consumer     USA       South Pamela
2    CUST-0048  Alexander Sandoval     Consumer     USA          Caseybury
3    CUST-0044          Susan Ward    Corporate     USA  New Elizabethside
4    CUST-0193         Daniel Sims    Corporate     USA      South Timothy
..         ...                 ...          ...     ...                ...
995  CUST-0180        Angela Reese     Consumer     USA          Ginamouth
996  CUST-0109   Mackenzie Aguilar  Home Office     USA       North Robert
997  CUST-0260        Alan Randall     Consumer     USA  South Shannonfurt
998  CUST-0034         Kathryn Orr  Home Office     USA          South Bob
999  CUST-0131     Cassandra Brown  Home Office     USA       Lake Ryanton

             State  PostalCode   Region    OrderID  OrderDate   ShipDate  \
0           Oregon       62355     East  ORD-93852 2023-09-12 2023-09-15
1         Arkansas       70085     East  ORD-15325 2024-11-12 2024-11-13
2     Rhode Island        9856    South  ORD-84374 2025-02-14 2025-02-23
3        Minnesota       38535     West  ORD-63771 2023-09-28 2023-10-05
4    West Virginia       96845     West  ORD-84050 2024-02-15 2024-02-18
..             ...         ...      ...        ...        ...        ...
995        Alabama       94228     West  ORD-50237 2024-12-09 2024-12-13
996       Kentucky       67736  Central  ORD-91449 2024-10-29 2024-11-08
997           Utah       63002     East  ORD-66296 2024-09-07 2024-09-16
998        Florida       93635     East  ORD-39688 2025-04-21 2025-04-22
999        Florida       43130     East  ORD-49543 2023-11-30 2023-12-08

           ShipMode  ProductID    Sales  Quantity  Discount  Profit  \
0    Standard Class  PROD-0001  1193.77         4      0.13  351.74
1       First Class  PROD-0001   662.03         8      0.15   93.14
2       First Class  PROD-0001  1547.91         8      0.28  426.05
3          Same Day  PROD-0001  1030.73         1      0.25  181.49
4       First Class  PROD-0001   851.55         4      0.27  157.17
..              ...        ...      ...       ...       ...     ...
995    Second Class  PROD-0200  1955.95         3      0.20  576.93
996        Same Day  PROD-0200  1458.79         8      0.03  292.30
997    Second Class  PROD-0200   415.52         8      0.26  123.06
998  Standard Class  PROD-0200   863.37         4      0.21  182.08
999        Same Day  PROD-0200   722.58         5      0.11  109.54

            Category Sub-Category     ProductName
0    Office Supplies        Paper  Cultural Paper
1    Office Supplies        Paper  Cultural Paper
2    Office Supplies        Paper  Cultural Paper
3    Office Supplies        Paper  Cultural Paper
4    Office Supplies        Paper  Cultural Paper
..               ...          ...             ...
995  Office Supplies        Paper      Must Paper
996  Office Supplies        Paper      Must Paper
997  Office Supplies        Paper      Must Paper
998  Office Supplies        Paper      Must Paper
999  Office Supplies        Paper      Must Paper

[1000 rows x 20 columns]
    CustomerID        CustomerName      Segment Country               City  \
0    CUST-0095          Stacey Lee  Home Office     USA        Sanchezstad
1    CUST-0083      Chad Rodriguez     Consumer     USA       South Pamela
2    CUST-0048  Alexander Sandoval     Consumer     USA          Caseybury
3    CUST-0044          Susan Ward    Corporate     USA  New Elizabethside
4    CUST-0193         Daniel Sims    Corporate     USA      South Timothy
..         ...                 ...          ...     ...                ...
995  CUST-0180        Angela Reese     Consumer     USA          Ginamouth
996  CUST-0109   Mackenzie Aguilar  Home Office     USA       North Robert
997  CUST-0260        Alan Randall     Consumer     USA  South Shannonfurt
998  CUST-0034         Kathryn Orr  Home Office     USA          South Bob
999  CUST-0131     Cassandra Brown  Home Office     USA       Lake Ryanton

             State  PostalCode   Region    OrderID  OrderDate   ShipDate  \
0           Oregon       62355     East  ORD-93852 2023-09-12 2023-09-15
1         Arkansas       70085     East  ORD-15325 2024-11-12 2024-11-13
2     Rhode Island        9856    South  ORD-84374 2025-02-14 2025-02-23
3        Minnesota       38535     West  ORD-63771 2023-09-28 2023-10-05
4    West Virginia       96845     West  ORD-84050 2024-02-15 2024-02-18
..             ...         ...      ...        ...        ...        ...
995        Alabama       94228     West  ORD-50237 2024-12-09 2024-12-13
996       Kentucky       67736  Central  ORD-91449 2024-10-29 2024-11-08
997           Utah       63002     East  ORD-66296 2024-09-07 2024-09-16
998        Florida       93635     East  ORD-39688 2025-04-21 2025-04-22
999        Florida       43130     East  ORD-49543 2023-11-30 2023-12-08

           ShipMode  ProductID    Sales  Quantity  Discount  Profit  \
0    Standard Class  PROD-0001  1193.77         4      0.13  351.74
1       First Class  PROD-0001   662.03         8      0.15   93.14
2       First Class  PROD-0001  1547.91         8      0.28  426.05
3          Same Day  PROD-0001  1030.73         1      0.25  181.49
4       First Class  PROD-0001   851.55         4      0.27  157.17
..              ...        ...      ...       ...       ...     ...
995    Second Class  PROD-0200  1955.95         3      0.20  576.93
996        Same Day  PROD-0200  1458.79         8      0.03  292.30
997    Second Class  PROD-0200   415.52         8      0.26  123.06
998  Standard Class  PROD-0200   863.37         4      0.21  182.08
999        Same Day  PROD-0200   722.58         5      0.11  109.54

            Category Sub-Category     ProductName
0    Office Supplies        Paper  Cultural Paper
1    Office Supplies        Paper  Cultural Paper
2    Office Supplies        Paper  Cultural Paper
3    Office Supplies        Paper  Cultural Paper
4    Office Supplies        Paper  Cultural Paper
..               ...          ...             ...
995  Office Supplies        Paper      Must Paper
996  Office Supplies        Paper      Must Paper
997  Office Supplies        Paper      Must Paper
998  Office Supplies        Paper      Must Paper
999  Office Supplies        Paper      Must Paper

[1000 rows x 20 columns]

In [8]:
print("----TOTAL SALES PROFIT QUANTITY BY REGION-----------")
region = m_3.groupby("Region")[['Sales','Profit','Category']].sum()
print(region)
print()
print("----TOTAL SALES PROFIT QUANTITY BY Segment-----------")
segment = m_3.groupby("Segment")[['Sales','Profit','Category']].sum()
print(segment)
print()
print("----TOTAL SALES PROFIT QUANTITY BY Category-----------")
category = m_3.groupby("Category")[['Sales','Profit','Category']].sum()
print(category)

----TOTAL SALES PROFIT QUANTITY BY REGION-----------
             Sales    Profit  \
Region
Central  260092.43  45867.57
East     274002.39  48897.28
South    202873.29  34784.79
West     296032.40  50266.28

                                                  Category
Region
Central  FurnitureFurnitureFurnitureTechnologyTechnolog...
East     Office SuppliesOffice SuppliesOffice SuppliesF...
South    Office SuppliesFurnitureTechnologyTechnologyTe...
West     Office SuppliesOffice SuppliesFurnitureFurnitu...

----TOTAL SALES PROFIT QUANTITY BY Segment-----------
                 Sales    Profit  \
Segment
Consumer     304600.24  51960.69
Corporate    405556.90  70919.87
Home Office  322843.37  56935.36

                                                      Category
Segment
Consumer     Office SuppliesOffice SuppliesTechnologyTechno...
Corporate    Office SuppliesOffice SuppliesFurnitureFurnitu...
Home Office  Office SuppliesOffice SuppliesFurnitureFurnitu...

----TOTAL SALES PROFIT QUANTITY BY Category-----------
                     Sales    Profit  \
Category
Furniture        387448.14  67426.84
Office Supplies  318044.97  55522.07
Technology       327507.40  56867.01

                                                          Category
Category
Furniture        FurnitureFurnitureFurnitureFurnitureFurnitureF...
Office Supplies  Office SuppliesOffice SuppliesOffice SuppliesO...
Technology       TechnologyTechnologyTechnologyTechnologyTechno...

In [10]:
# m_3["Profit_margin"] = m_3["Profit"] / m_3["Sales"]
# print(m_3.head())
m_3["yearmonth"] = m_3["OrderDate"].dt.to_period("M")
m_s = m_3.groupby("yearmonth")["Sales"].sum()
print(m_s)

yearmonth
2023-08     7711.37
2023-09    41818.29
2023-10    44125.64
2023-11    33674.24
2023-12    52036.36
2024-01    41281.97
2024-02    38005.14
2024-03    34143.51
2024-04    50031.28
2024-05    33806.45
2024-06    44771.13
2024-07    45096.83
2024-08    45473.05
2024-09    43794.13
2024-10    57855.11
2024-11    51219.56
2024-12    41454.50
2025-01    58358.37
2025-02    39250.25
2025-03    36767.16
2025-04    43372.93
2025-05    44909.32
2025-06    37667.87
2025-07    39914.40
2025-08    26461.65
Freq: M, Name: Sales, dtype: float64

In [28]:
print("----top 10 consumers-----")
top = m_3.groupby("CustomerName")[["Sales", "Profit"]].sum().sort_values(by="Sales",ascending=False).head(10)
print(top)

----top 10 consumers-----
                         Sales   Profit
CustomerName
Jennifer Williams     11962.29  2131.66
Stacey Lee            11397.39  2555.43
Nicolas Melendez      10549.99  1900.38
Kristen Spencer       10018.80  1554.50
Mr. Tyler Stevens      9889.02  1483.31
Dr. Mary Andersen MD   9837.58  1607.02
Daniel May             9270.17  1880.34
Kellie Harris          9242.82  2076.76
Stephanie Ryan         8686.72  1268.25
Alan Randall           8585.02  1908.28

In [29]:
print("----top 10 consumers-----")
top = m_3.groupby("CustomerName")[["Sales", "Profit"]].sum().sort_values(by="Profit",ascending=False).head(10)
print(top)

----top 10 consumers-----
                         Sales   Profit
CustomerName
Stacey Lee            11397.39  2555.43
Jennifer Williams     11962.29  2131.66
Kellie Harris          9242.82  2076.76
Alan Randall           8585.02  1908.28
Nicolas Melendez      10549.99  1900.38
Daniel May             9270.17  1880.34
Dr. Mary Andersen MD   9837.58  1607.02
Kristen Spencer       10018.80  1554.50
Stephanie Yoder        6933.59  1534.67
Robin Hanson MD        6055.64  1499.87

In [11]:

m_3["year"] = m_3["OrderDate"].dt.year

yearly_sales = m_3.groupby("year")["Sales"].sum()
yoy_growth = yearly_sales.pct_change()*100
print(yoy_growth)

year
2023           NaN
2024    193.775272
2025    -37.999298
Name: Sales, dtype: float64

In [12]:
m_3["Delivery_days"] = (m_3["ShipDate"] - m_3["OrderDate"]).dt.days

avg = m_3["Delivery_days"].mean()

delay = m_3[m_3["Delivery_days"]>5]

print("AVG :- ",avg)
print("Delayed Orders:", len(delay))

AVG :-  5.53
Delayed Orders: 505