ðŸ“ˆ Stock Market Advanced Project

In [11]:
import pandas as pd
import numpy as np

# Generate 30 days of stock data
dates = pd.date_range(start="2025-01-01", periods=30)

np.random.seed(1)  # reproducibility

data = {
    "Date": np.tile(dates, 3),  # repeat for 3 stocks
    "Stock": np.repeat(["TCS","INFY","RELIANCE"], 30),
    "Open": np.random.randint(1500, 2500, 90),
    "High": np.random.randint(1600, 2600, 90),
    "Low": np.random.randint(1400, 2400, 90),
    "Close": np.random.randint(1500, 2500, 90),
    "Volume": np.random.randint(100000, 500000, 90)
}

df = pd.DataFrame(data)
print(df.head(10))
df['Date'] = pd.to_datetime(df['Date'])

        Date Stock  Open  High   Low  Close  Volume
0 2025-01-01   TCS  1537  2307  1666   1548  178896
1 2025-01-02   TCS  1735  2599  2094   2322  362834
2 2025-01-03   TCS  2408  1726  2264   1788  499294
3 2025-01-04   TCS  1572  1879  1889   1753  388044
4 2025-01-05   TCS  2267  1981  2250   2168  420105
5 2025-01-06   TCS  2405  1956  1870   1555  421718
6 2025-01-07   TCS  2215  1755  1598   2222  343030
7 2025-01-08   TCS  2145  2533  2106   1787  298135
8 2025-01-09   TCS  2347  1913  1727   1528  151984
9 2025-01-10   TCS  2460  2195  2399   1722  295859

In [12]:

sort = df.sort_values(["Date","Stock"],ascending=True)
print(sort)

         Date     Stock  Open  High   Low  Close  Volume
30 2025-01-01      INFY  2062  1921  1968   1975  392661
60 2025-01-01  RELIANCE  1954  2352  1477   2075  238825
0  2025-01-01       TCS  1537  2307  1666   1548  178896
31 2025-01-02      INFY  2080  1969  2129   2410  472436
61 2025-01-02  RELIANCE  2417  2108  1619   2381  203732
..        ...       ...   ...   ...   ...    ...     ...
88 2025-01-29  RELIANCE  1522  2215  1868   1730  454780
28 2025-01-29       TCS  2425  1751  1583   1771  182063
59 2025-01-30      INFY  1887  2169  1696   1579  291429
89 2025-01-30  RELIANCE  2277  2466  1995   1740  284569
29 2025-01-30       TCS  1898  2295  1717   2170  439353

[90 rows x 7 columns]

In [15]:
print("Total Rows:", len(df))
print("Unique Stocks:", df['Stock'].nunique())
print("Stock Names:", df['Stock'].unique())

Total Rows: 90
Unique Stocks: 3
Stock Names: ['TCS' 'INFY' 'RELIANCE']

In [21]:
max_trade = df.groupby("Stock")["Volume"].agg("max").reset_index()
max_trade.columns = ["stock","prize"]
print(max_trade)

      stock   prize
0      INFY  489644
1  RELIANCE  497280
2       TCS  499294

In [22]:
total_trade_volume = df.groupby("Stock")["Volume"].agg("sum")
print(total_trade_volume)

Stock
INFY        9826963
RELIANCE    8851744
TCS         9017757
Name: Volume, dtype: int32

In [36]:
df["Daily Returns"] = df.groupby('Stock')["Volume"].pct_change()*100
print(df.head(11))

         Date Stock  Open  High   Low  Close  Volume  Daily Returns   5D_MA
0  2025-01-01   TCS  1537  2307  1666   1548  178896            NaN     NaN
1  2025-01-02   TCS  1735  2599  2094   2322  362834     102.818397     NaN
2  2025-01-03   TCS  2408  1726  2264   1788  499294      37.609485     NaN
3  2025-01-04   TCS  1572  1879  1889   1753  388044     -22.281461     NaN
4  2025-01-05   TCS  2267  1981  2250   2168  420105       8.262207  2322.0
5  2025-01-06   TCS  2405  1956  1870   1555  421718       0.383952  2322.0
6  2025-01-07   TCS  2215  1755  1598   2222  343030     -18.658914  2222.0
7  2025-01-08   TCS  2145  2533  2106   1787  298135     -13.087777  2222.0
8  2025-01-09   TCS  2347  1913  1727   1528  151984     -49.021752  2222.0
9  2025-01-10   TCS  2460  2195  2399   1722  295859      94.664570  2222.0
10 2025-01-11   TCS  1644  1766  1576   1830  114089     -61.438050  2222.0

In [35]:
df['5D_MA'] = df.groupby('Stock')['Close'].transform(lambda x: x.rolling(5).max())
print(df.head(5))

        Date Stock  Open  High   Low  Close  Volume  Daily Returns   5D_MA
0 2025-01-01   TCS  1537  2307  1666   1548  178896            NaN     NaN
1 2025-01-02   TCS  1735  2599  2094   2322  362834      50.000000     NaN
2 2025-01-03   TCS  2408  1726  2264   1788  499294     -22.997416     NaN
3 2025-01-04   TCS  1572  1879  1889   1753  388044      -1.957494     NaN
4 2025-01-05   TCS  2267  1981  2250   2168  420105      23.673702  2322.0

In [39]:
pt = df.pivot(index="Date",columns="Stock",values="Close")
pt_v = df.pivot(index="Date",columns="Stock",values="Volume")
print(pt.head(11))
print("----------VS----------")
print(pt_v.head(11))

Stock       INFY  RELIANCE   TCS
Date
2025-01-01  1975      2075  1548
2025-01-02  2410      2381  2322
2025-01-03  1999      1587  1788
2025-01-04  2287      1916  1753
2025-01-05  1751      2310  2168
2025-01-06  2166      2214  1555
2025-01-07  1735      2206  2222
2025-01-08  1586      2228  1787
2025-01-09  1891      2238  1528
2025-01-10  2239      2170  1722
2025-01-11  1553      2157  1830
----------VS----------
Stock         INFY  RELIANCE     TCS
Date
2025-01-01  392661    238825  178896
2025-01-02  472436    203732  362834
2025-01-03  448665    166137  499294
2025-01-04  434805    399547  388044
2025-01-05  223506    282315  420105
2025-01-06  449934    424609  421718
2025-01-07  368189    143346  343030
2025-01-08  330956    289022  298135
2025-01-09  245883    497280  151984
2025-01-10  238572    271860  295859
2025-01-11  489644    305342  114089

#  COVID-19 PROJECT

In [5]:
import pandas as pd
df = pd.read_csv("covid.csv")
df["Date"] = pd.to_datetime(df["Date"])
print(df)

         Date  Country  Confirmed  Population
0  2025-01-01      USA       1000   331000000
1  2025-01-02      USA       1500   331000000
2  2025-01-03      USA       2300   331000000
3  2025-01-04      USA       3100   331000000
4  2025-01-05      USA       4500   331000000
5  2025-01-01    India        500  1393000000
6  2025-01-02    India       1200  1393000000
7  2025-01-03    India       1900  1393000000
8  2025-01-04    India       3000  1393000000
9  2025-01-05    India       4500  1393000000
10 2025-01-01   Brazil        300   213000000
11 2025-01-02   Brazil        800   213000000
12 2025-01-03   Brazil       1400   213000000
13 2025-01-04   Brazil       2200   213000000
14 2025-01-05   Brazil       3000   213000000
15 2025-01-01       UK        200    67800000
16 2025-01-02       UK        600    67800000
17 2025-01-03       UK       1100    67800000
18 2025-01-04       UK       1700    67800000
19 2025-01-05       UK       2300    67800000
20 2025-01-01  Germany        250    83000000
21 2025-01-02  Germany        700    83000000
22 2025-01-03  Germany       1300    83000000
23 2025-01-04  Germany       2100    83000000
24 2025-01-05  Germany       2800    83000000

In [13]:
df['Daily_New'] = df.groupby('Country')['Confirmed'].diff().fillna(0)
print(df)

         Date  Country  Confirmed  Population  Daily_New
0  2025-01-01      USA       1000   331000000        0.0
1  2025-01-02      USA       1500   331000000      500.0
2  2025-01-03      USA       2300   331000000      800.0
3  2025-01-04      USA       3100   331000000      800.0
4  2025-01-05      USA       4500   331000000     1400.0
5  2025-01-01    India        500  1393000000        0.0
6  2025-01-02    India       1200  1393000000      700.0
7  2025-01-03    India       1900  1393000000      700.0
8  2025-01-04    India       3000  1393000000     1100.0
9  2025-01-05    India       4500  1393000000     1500.0
10 2025-01-01   Brazil        300   213000000        0.0
11 2025-01-02   Brazil        800   213000000      500.0
12 2025-01-03   Brazil       1400   213000000      600.0
13 2025-01-04   Brazil       2200   213000000      800.0
14 2025-01-05   Brazil       3000   213000000      800.0
15 2025-01-01       UK        200    67800000        0.0
16 2025-01-02       UK        600    67800000      400.0
17 2025-01-03       UK       1100    67800000      500.0
18 2025-01-04       UK       1700    67800000      600.0
19 2025-01-05       UK       2300    67800000      600.0
20 2025-01-01  Germany        250    83000000        0.0
21 2025-01-02  Germany        700    83000000      450.0
22 2025-01-03  Germany       1300    83000000      600.0
23 2025-01-04  Germany       2100    83000000      800.0
24 2025-01-05  Germany       2800    83000000      700.0

In [14]:
cumulative_cases = df.groupby('Country')['Confirmed'].max()
print(cumulative_cases)

Country
Brazil     3000
Germany    2800
India      4500
UK         2300
USA        4500
Name: Confirmed, dtype: int64

In [20]:
top_5 = cumulative_cases.nlargest(5)

print(top_5)

Country
India      4500
USA        4500
Brazil     3000
Germany    2800
UK         2300
Name: Confirmed, dtype: int64

In [21]:
df['Cases_per_million'] = (df['Confirmed'] / df['Population']) * 1_000_000
print(df)

         Date  Country  Confirmed  Population  Daily_New  Cases_per_million
0  2025-01-01      USA       1000   331000000        0.0           3.021148
1  2025-01-02      USA       1500   331000000      500.0           4.531722
2  2025-01-03      USA       2300   331000000      800.0           6.948640
3  2025-01-04      USA       3100   331000000      800.0           9.365559
4  2025-01-05      USA       4500   331000000     1400.0          13.595166
5  2025-01-01    India        500  1393000000        0.0           0.358938
6  2025-01-02    India       1200  1393000000      700.0           0.861450
7  2025-01-03    India       1900  1393000000      700.0           1.363963
8  2025-01-04    India       3000  1393000000     1100.0           2.153625
9  2025-01-05    India       4500  1393000000     1500.0           3.230438
10 2025-01-01   Brazil        300   213000000        0.0           1.408451
11 2025-01-02   Brazil        800   213000000      500.0           3.755869
12 2025-01-03   Brazil       1400   213000000      600.0           6.572770
13 2025-01-04   Brazil       2200   213000000      800.0          10.328638
14 2025-01-05   Brazil       3000   213000000      800.0          14.084507
15 2025-01-01       UK        200    67800000        0.0           2.949853
16 2025-01-02       UK        600    67800000      400.0           8.849558
17 2025-01-03       UK       1100    67800000      500.0          16.224189
18 2025-01-04       UK       1700    67800000      600.0          25.073746
19 2025-01-05       UK       2300    67800000      600.0          33.923304
20 2025-01-01  Germany        250    83000000        0.0           3.012048
21 2025-01-02  Germany        700    83000000      450.0           8.433735
22 2025-01-03  Germany       1300    83000000      600.0          15.662651
23 2025-01-04  Germany       2100    83000000      800.0          25.301205
24 2025-01-05  Germany       2800    83000000      700.0          33.734940

# Retail Store Chain Dashboard (Capstone)

Dataset: Multiple storesâ€™ sales with Products, Customers, Inventory.

Tasks:

Create monthly dashboard (Sales, Profit, Top products, Best customers)

Merge multiple tables (products, sales, inventory)

Handle missing + outlier data

Skills: merge(), pivot_table(), melt(), multiindex, window functions